* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Head-font: "Young Serif", serif;
  --Body-font: "Outfit", sans-serif;

  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Body-font);
  font-size: 1.1rem;
  color: var(--Rose-800);
}

.card {
  background-color: var(--White);
}

.card-img-box {
  width: 100%;
}

.card-img-box img {
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.5rem;
}

.intro h1 {
  font-family: var(--Head-font);
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1;
  color: var(--Stone-900);
  margin-bottom: 1rem;
}

.intro p {
  line-height: 1.5;
  font-size: 1.15rem;
}

.preparation {
  background-color: var(--Rose-50);
  padding: 1.8rem;
  border-radius: 1rem;
}

.preparation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-left: 1.5rem;
}

li {
  padding-left: 1rem;
  font-size: 1.2rem;
}

li:not(:last-child) {
  margin-bottom: 0.8rem;
}

li strong,
li::marker {
  color: var(--Stone-600);
  font-weight: 700;
}

.ingredients h2,
.instruction h2,
.nutrition h2 {
  font-family: var(--Head-font);
  font-weight: 400;
  font-size: 2rem;
  color: var(--Brown-800);
  margin-bottom: 1rem;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--Stone-150);
}

.nutrition p {
  margin-bottom: 1.5rem;
}

table,
tbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

tr {
  display: flex;
  padding-left: 2.5rem;
}

tr:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Stone-150);
}

td {
  width: 50%;
}

td:nth-child(2) {
  color: var(--Brown-800);
  font-weight: 700;
}

@media (min-width: 426px) {
  .card {
    width: 80%;
    max-width: 800px;
    margin: 3rem auto;
    border-radius: 1rem;
  }

  .card-body {
    padding: 2rem;
  }

  img {
    border-radius: 1rem;
  }

  .card-details {
    padding: 0;
    padding-top: 2.5rem;
  }
}
